.container {
  padding: 8px;
}

.indicatorName {
  font-weight: 500;
  line-height: 1.5;
}

.label {
  min-width: 120px;
  font-size: 13px;
  font-weight: 500;
}

.slider {
  flex: 1;
  min-width: 200px;
}

.scoreValue::-webkit-outer-spin-button,
.scoreValue::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editScore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberInput {
  display: flex;
  align-items: center;

  height: 32px;

  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden; 

  background: #ffffff;
}

.numberInput button {
  width: 32px;
  height: 100%;

  border: none;
  background: rgba(255, 190, 92, 0.568);
  color: #1f2937;

  font-size: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreValue {
  width: 48px;
  height: 28px;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1px solid var(--g-color-private-black-100);
  outline: none;
}