.formCard {
  align-self: start;
  grid-area: form;

  padding: var(--g-spacing-4);

  overflow: auto;
  position: sticky;
  top: var(--g-spacing-4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fileInput {
  display: none;
}

.fileChange {
  width: 130px;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.formContent {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.fileLabel {
  flex: 1;

  display: flex;
  align-items: center;

  height: 44px;
  padding: 0 16px;

  background-color: white;
  color: #667eea;

  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;

  overflow: hidden;
}

.fileLabelText {
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resultsArea {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  overflow-y: auto;
  max-block-size: calc(100vh - var(--g-spacing-4) * 2 - 130px);
  margin-block: var(--g-spacing-4);
}
