.container {
  display: grid;
  grid-template-columns: auto 420px;
  grid-template-areas: "title title" "competences form";
  gap: var(--g-spacing-4);
  padding: var(--g-spacing-4);
  max-inline-size: 1200px;
  margin-inline: auto;
}

.indicators {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-4);
}

.competenceCard {
  padding: 16px;
}

.title {
  color: var(--g-color-base-brand)
}

.header {
  grid-area: title;
  text-align: center;
}

.competences {
  display: flex;
  flex-direction: column;
  gap: var(--g-spacing-4);
  grid-area: competences; 
} 
