.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  margin-inline: auto;
  padding: 24px;
}

.wrapper_indicator {
  display: flex;
}

.competenceCard {
  padding: 16px;
}

.title {
  color: var(--g-color-base-brand)
}

.indicatorsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  
}

.container > div:last-child {
  width: 350px;
  position: sticky;
  top: 20px;
}
